* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color:#FAF3E0 ;
    height: 100%;
}
header{
    background-color:lab(69.06% 12.34 -32.94);
    padding:12px 0;
    text-align: center;
    box-shadow: 0 8px 25px
}
h1{
    margin:2;
    font-family: "Bruno Ace", sans-serif;
    font-size: 30px;
    color: black;
}
h2{ 
    margin:0;
 }

.boton1 {
  text-align: center;
  background-color: #af98ab;
  margin-top: 20px;
  padding: 20px;
  list-style: none;
  height: 20%;
  border-radius: 20px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 8px 25px;
}

.boton1 li {
  list-style: none;
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 50px;
}
.boton{
  font-size:15px; margin-top:10px;
  background-color:#53855b;   
  color:#0f1115;              
  text-decoration:none;
  padding:5px 30px;
  border-radius:12px;
  box-shadow:0 8px 25px rgba(0,0,0,.5);
  text-align:right;
  display:inline-flex;
  align-items:center;
}
.boton:hover{
    color: rgb(224, 225, 224);
}
.caja1{
    width:800px;
    background-color: #D0B8A8;
    padding: 50px; 
    margin-bottom: 30px;
    margin-top: 20px;
    box-shadow: 0 8px 25px;
}
.caja2{
    width:800px;
    background-color: #D0B8A8;
    padding: 50px; 
    margin-bottom: 30px;
    margin-top: 20px;
    box-shadow: 0 8px 25px;
    height: 360px;
}
.img1{
    float:right;
    padding-right: 0px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 0px;
    width:250px;
    height:250px;
    box-shadow: 0 2px 24px;
    
}
.img2{
    float:left;
    padding-right:10px; 
    margin-right:0px;
    width: 250px;
    height: 250px;
    
}
p{
    width: 600px; 
    text-align: left; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    margin-left: 10px;
    line-height: 1.3;
    letter-spacing: 2px;
    font-size: 17px;
    margin-top: 20px;
    
}
.terapia{
  text-decoration: none;
}
.p2{ 
    width:640px;
    text-align: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 4px;
    margin-top: 20px;
    line-height: 1.3;
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: 500px;
}
.tilo{
    font-size: 25px;
    font-family: "Bruno Ace", sans-serif;
}
footer {
  background-color: rgba(115, 101, 101, 0.479);
  text-align: center;
  display: flex;          
  height: 19vh;     
  margin-bottom: 1px;      
}

footer .columna {
  flex: 1 1 0;             
  border: 2px solid #000;
  padding: 16px;
  box-sizing: border-box;
}

footer ul {
  list-style: none;
  margin: 8px 0 0;
  padding: 0;
  text-align: center;
}
footer li {
  display: block;          
  width: auto;
  height: auto;
  margin: 0px 0;
}

footer #columna3 ul {
  display: inline-flex;
  gap: 15px;
}
footer #columna3 li {
  display: inline-block;
  margin: 0;
}

footer a {
  text-decoration: none;
  font-size: 23px;
  gap: 10px;
  color: rgb(92, 153, 92);
}

footer .icons-fo {
  width: 30px;
  height: 30px;
  display: block;
}
h5{
  font-size: 25px;
  margin: 18px auto 8px;
}
#volver-arriba {
  color: tomato;       
  font-weight: bold;   
}
#volver-arriba:hover {
  color: gold;         
}